.add-transaction {
    display: inline-flex;
    margin: 0 20px;
    padding: 20px;
    width: 500px;
    height: 420px;
    background-color: #37474f;
    border-radius: 10px;
}

<<<<<<< HEAD:src/scss/Transaction.scss
.transaction-list {
    display: inline-flex;
    margin: 0 20px;
    background-color: #37474f;
}

.transaction-item-list {
    display: flex;
    margin: 0 0 20px;
    justify-content: space-between;
    width: 600px;
    color: white;
    text-transform: capitalize;
}

.transaction-item-list__items {
    display: grid;
}

=======
>>>>>>> dev:src/components/Transactions/AddTransaction/AddTransaction.scss
.add-transaction__button {
    margin: 10px, 0;
}

<<<<<<< HEAD:src/scss/Transaction.scss
.add-transaction__span {    
=======
.add-transaction__title {    
>>>>>>> dev:src/components/Transactions/AddTransaction/AddTransaction.scss
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0px 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

<<<<<<< HEAD:src/scss/Transaction.scss
=======
.add-transaction__input {
    color: white;
}

>>>>>>> dev:src/components/Transactions/AddTransaction/AddTransaction.scss
.dropdown-content__item {
    color: white;
    text-transform: capitalize;
}

.dropdown-content li:hover {
    background-color: darken($color: #455a64, $amount: 10%)
}

<<<<<<< HEAD:src/scss/Transaction.scss
.add-transaction__input {
    color: white;
=======
.add-transaction__label {
    display: block;
    margin: 10px;
>>>>>>> dev:src/components/Transactions/AddTransaction/AddTransaction.scss
}