.AccMain {
    display: block;
    float: left;
    clear: both;
    padding: 20px;
    background-color: #26c6da;
    :hover {
    background-color: darken($color: #26c6da, $amount: 10%);
  }
}

.AccBtn {
    display: block;
    margin: 20px;
    float: left;
    clear: both;
}

.Account {
    display: block;
    
}