.AddCategory {
    display: inline-flex;
    margin: 0 20px;
    padding: 20px;
    width: 500px;
    height: 200px;
    background-color: #37474f;
    border-radius: 10px;
}

.CategoryInput {
    color: white;
}